/* -------------------------------------------

fonts

------------------------------------------- */

$font-1: var(--font-primary), sans-serif;

/* -------------------------------------------

colors

------------------------------------------- */

$d1: #0a0b0f;
$d2: #14151a;

$l1: #ffffff;
$l2: #73767b;

$a: #f35a38;
$as: #f2b279;

/* -------------------------------------------

transition

------------------------------------------- */

$tsm: 0.2s cubic-bezier(0, 0, 0.3642, 1);
$tmd: 0.4s cubic-bezier(0, 0, 0.3642, 1);
$tlg: 0.6s cubic-bezier(0, 0, 0.3642, 1);
$txl: 0.8s cubic-bezier(0, 0, 0.3642, 1);
